	body{

			font-family: 'Open Sans', sans-serif;
			margin: 0;
		}
		div{
			width: 1200px;
			margin: auto;
		}
		h1{
			color:black;
			font-size: 36px; 
			text-align: center;
			margin: 0;
		}
		p{
			font-size: 20px;
			text-align: center;
		}
		span{
			color: #0772f8;
			text-transform: capitalize;
			font-weight: bolder;
		}